/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imc-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 400px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.options,
.sexo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

label {
    font-size: 14px;
    color: #333;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 8px;
}

.imc-info {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 8px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button.calcular-btn {
    background-color: #f2b000;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.calcular-btn:hover {
    background-color: #e18d00;
}

.resultado {
    margin-top: 30px;
    font-size: 16px;
}

#resultado-imc {
    color: #f2b000;
    font-weight: bold;
    font-size: 24px;
}

#explicacao {
    font-size: 14px;
    color: #666;
}
