{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de IMC</title>
    <script src="{% static 'js/avaliar.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/avaliarIMC.css' %}">
</head>
<body>
    <a href="{% url 'index' %}">← Voltar</a>
    <div class="container_principal">

      <div class="top-bar"></div>
      
      <div class="imc-wrapper">
        <h1 class="titulo">Calculadora de IMC</h1>
        
        <form id="form-imc" class="imc-form" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-grid">
            {{ form.as_p }}
            <button type="submit" class="btn-calcular">Calcular</button>
          </div>
        </form>
        
        {% if imc %}
        <section class="resultado-container">
          
          <h2>Seu IMC é:</h2>
          <div class="imc-valor">{{ imc }}</div>
          
          <p class="classificacao">
            Classificação: <strong>{{ classificacao }}</strong>
          </p>
          
          <div class="resultado-detalhes">
            {% if avaliacao %}
            <p><strong>Peso:</strong> {{ avaliacao.peso }} kg</p>
            <p><strong>Altura:</strong> {{ avaliacao.altura }} m</p>
            <img class="foto-perfil" src="{{ avaliacao.foto.url }}">
            {% endif %}
          </div>
          <div class="texto-explicacao">

            {% if classificacao == "Abaixo do normal" %}
            Seu IMC está abaixo do recomendado. Considere buscar orientação nutricional.
            
            {% elif classificacao == "Normal" %}
            Parabéns! Seu IMC está dentro da faixa saudável. Continue com bons hábitos!
            
            {% elif classificacao == "Sobrepeso" %}
            Você está acima do peso ideal. Ajuste a alimentação e aumente sua rotina de exercícios.
            
            {% elif classificacao == "Obesidade grau I" %}
            Atenção! Busque melhorar seus hábitos alimentares e sua rotina de atividades físicas.
            
            {% elif classificacao == "Obesidade grau II" %}
            IMC elevado. Um acompanhamento com nutricionista é recomendado.
            
            {% elif classificacao == "Obesidade grau III" %}
            IMC muito alto. H3momem é fundamental buscar orientação médica urgente.
            
            {% endif %}
            
          </div>
          
        </section>
        {% endif %}
        
      </div>
      
    </div>
  </body>
</html>