{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora de IMC</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet"/>
    
    <link rel="stylesheet" href="{% static 'css/avaliarIMC.css' %}">
  </head>
  <body>
    <div class="imc-container">
      <h1>Calculadora de IMC</h1>

      <form id="form-imc" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="calcular-btn">Calcular</button>
      </form>

      {% if imc %}
        <div class="resultado">
            <h2>Seu IMC é: <strong>{{ imc }}</strong></h2>
            <p>Classificação: <strong>{{ classificacao }}</strong></p>

            {% if avaliacao %}
                <p><strong>Peso:</strong> {{ avaliacao.peso }} kg</p>
                <p><strong>Altura:</strong> {{ avaliacao.altura }} m</p>
                <img src="{{ avaliacao.foto.url }}" width="180">
            {% endif %}
        </div>
        {% endif %}
    </div>
  </body>
</html>