{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <figure>
            <img class="logo" src="{% static 'images/logo.png' %}" alt="">
        </figure>
        <nav>
            <ul>
                <li>Avaliações</li>
                <li>Relatórios</li>
                <li>Normas Avaliação</li>
                <li>Sobre</li>
            </ul>
            <button class="header_btn">Entrar</button>
        </nav>
    </header>
    <main>
        <section class="section_txt">
            <h2>O acompanhamento de</h2>
            <h2>crianças e adolecentes com</h2>
            <h2>foco no seu bem-estar!</h2>
            <br>
            <button class="main_btn">Saiba mais</button>
        </section>
        <section class="section_img">
            <figure>
                <img class="main_img" src="{% static 'images/img-main.png' %}" alt="">
            </figure>
        </section>
    </main>
    <h1>Avaliações</h1>
    <br>
    <section class="pagina2">
        <br>
        <section class="card" id="card1">
            <br>
            <center>
                <img class="img_card" src="{% static 'images/img_card1.png' %}" alt="" width="165" height="140">
            </center>
            <h3>Avaliação de Antopometria e Composição Corporal</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos assumenda harum cupiditate dolores dolorem, qui vero soluta tenetur aliquam deserunt distinctio explicabo eius dolore alias officiis autem. Consectetur, cum.</p>
            <br>
            <center>
                <button class="btn_card">Avaliar</button>
            </center>
        </section>
        <section class="card" id="card2">
            <br>
            <center>
                <img class="img_card" src="{% static 'images/img_card2.png' %}" alt="" width="165" height="140">
            </center>
            <h3>Avaliação IMC</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos assumenda harum cupiditate dolores dolorem, qui vero soluta tenetur aliquam deserunt distinctio explicabo eius dolore alias officiis autem. Consectetur, cum.</p>
            <br>
            <center>
                <form action="{% url 'avaliar_imc' %}" method="GET">
                    <button type="submit" class="btn_card">Avaliar</button>
                </form>
            </center>
        </section>
        <section class="card" id="card3">
            <br>
            <center>
                <img class="img_card" src="{% static 'images/img_card3.png' %}" alt="" width="165" height="140">
            </center>
            <h3>Avaliação Abdominais</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quos assumenda harum cupiditate dolores dolorem, qui vero soluta tenetur aliquam deserunt distinctio explicabo eius dolore alias officiis autem. Consectetur, cum.</p>
            <br>
            <center>
                <button class="btn_card">Avaliar</button>
            </center>
            
        </section>
    </section>
    <footer>
        <h2 class="h2_footer">Contato</h2>
        <p class="p_footer">essencialmente@email.com</p>
    </footer>
</body>
</html>